.home-products-description {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 0% 5%;
}
.home-products-description-container {
  position: relative;
}

.home-products-description-container img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.home-products-description-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 50%;
  position: absolute;
  top: 25%;
  right: 0%;
  background-color: #b7bf96;
  padding: 0% 4%;
}

.home-products-description p {
  color: #011b10;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .home-products-description {
  }
}

@media (min-width: 768px) {
  .home-products-description {
    margin-top: 80px;
  }

  .home-products-description-text {
    height: 70%;
    top: 15%;
  }

  .home-products-description p {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .home-products-description p {
    font-size: 26px;
  }
}
