.button button {
  background-color: #133a1b;
  color: white;
  border: none;
  cursor: pointer;
  height: 40px;
  font-size: 18px;
  border-radius: 12px;
}

@media (max-width: 767px) {
  .button {
    width: 80vw;
  }

  .button button {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .button button {
    width: 340px;
  }
}

@media (min-width: 1024px) {
  .button {
    display: none;
  }
}

/* #899e8d; */
