.home-treatments {
  margin-top: 30px;
}

.home-treatments-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(183, 191, 150, 0.7);
  z-index: 1;
}

.home-treatments-image img {
  width: 100%;
  height: 30vw;
  object-fit: cover;
  z-index: 0;
}

.home-treatments-image {
  position: relative;
}

.home-treatments-image h1,
.home-treatments-image p {
  position: relative;
  z-index: 2;
}

.home-treatments-image h1 {
  position: absolute;
  top: 5vw;
  font-size: 3.5vw;
  color: #011b10;
}

.home-treatments-image p {
  position: absolute;
  font-size: 3vw;
  color: #011b10;
  bottom: 6vw;
}

.home-treatments-container {
  margin-top: 20px;
  display: flex;
}

.home-treatments-inner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0px;
  justify-content: space-evenly;
  width: 90%;
  margin-bottom: 20px;
}

.home-treatments-container button {
  color: white;
  font-size: 16px;
  background-color: #133a1b;
  border: none;
  border-radius: 12px;
  width: 32vw;
  height: 38px;
}

@media (min-width: 500px) {
  .home-treatments {
    margin-top: 7vw;
  }

  .home-treatments-image img {
    height: 24vw;
  }

  .home-treatments-image h1 {
    font-size: 3vw;
    top: 4vw;
  }

  .home-treatments-image p {
    font-size: 2.7vw;
    bottom: 4vw;
  }

  .home-treatments-inner-container {
    margin-bottom: 4vw;
  }
}

@media (min-width: 667px) {
  .home-treatments-container button {
    height: 5vw;
  }
}

@media (max-width: 1023px) {
  .home-treatments-image {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .home-treatments-image p {
    position: absolute;
    /* top: 14vw; */
  }

  .home-treatments-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .home-treatments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-treatments-image {
    width: 100%;
  }

  .home-treatments-image h1 {
    top: 19vw;
    padding: 0% 5%;
  }

  .home-treatments-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 27vw;
  }

  .home-treatments-info p {
    font-size: 2.4vw;
    width: 28vw;
  }

  .home-treatments-container {
    justify-content: space-between;
    width: 90%;
  }

  .home-treatments-inner-container {
    justify-content: space-between;
    width: 54vw;
  }

  .home-treatments-container button {
    width: 24vw;
    font-size: 2vw;
  }
}

@media (min-width: 1500px) {
  .home-treatments-container {
    width: 1350px;
  }

  .home-treatments-inner-container {
    width: 812px;
  }

  .home-treatments-info {
    height: 405px;
  }

  .home-treatments-info p {
    max-width: 420px;
    font-size: 36px;
  }

  .home-treatments-container button {
    width: 360px;
    height: 76px;
    font-size: 30px;
  }
}
