.footer-section-2 {
  width: 50%;
}

.footer-section-2-upper {
  display: flex;
  margin-left: 100px;
  width: 70%;
  justify-content: space-between;
}

.footer-section-2-upper,
.footer-section-2-downer,
h1 {
  font-size: 18px;
  margin-bottom: 8px;
}

.footer-section-2-upper,
.footer-section-2-downer,
p {
  font-size: 18px;
}

.footer-section-2-downer {
  display: flex;
  margin-left: 100px;
  width: 57.5%;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-section-2-links {
  text-decoration: none;
  color: #011b10;
}

.footer-section-2-links:hover {
  text-decoration: underline;
}
