.home-about-owner {
  position: relative;
  padding: 0% 5%;
}

.home-about-owner img {
  object-fit: cover;
}

.home-about-owner-description {
  display: flex;
  background-color: #011b10;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  width: 80vw;
  height: 70vw;
}

.home-about-owner-description p {
  font-size: 3vw;
  color: white;
  width: 60vw;
}

@media (max-width: 767px) {
  .home-about-owner {
    display: flex;
    margin-top: 240px;
    justify-content: center;
  }

  .home-about-owner img {
    position: absolute;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: 240px;
  }
}

@media (min-width: 768px) {
  .home-about-owner {
    margin-top: 50px;
  }

  .home-about-owner img {
    width: 50%;
  }

  .home-about-owner-description {
    position: absolute;
    right: 5%;
    top: 14%;
    width: 50%;
    height: 100%;
  }

  .home-about-owner-description p {
    padding: 12% 12%;
    font-size: 2vw;
  }
}
