.home-popular-products {
  margin-top: 30px;
  margin-bottom: 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.home-popular-products-header {
  margin-bottom: 20px;
  font-size: 20px;
  color: #011b10;
}

@media (min-width: 768px) {
  .home-popular-products {
    margin-top: 0px;
  }

  .home-popular-products p {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .home-popular-products {
    margin: 60px 0px;
  }

  .home-popular-products p {
    font-size: 28px;
  }
}
