.home-popular-products {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.home-popular-products p {
  font-size: 28px;
  font-weight: bold;
  color: #011b10;
}

.home-popular-products-container {
  margin-top: 30px;
  display: flex;
  width: 100%;
}

@media (max-width: 767px) {
  .home-popular-products-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .home-popular-products-container {
    justify-content: space-between;
  }
}
