.store-category {
  position: relative;
  display: flex;
  justify-content: center;
}

.store-category img {
  width: 650px;
  height: 450px;
  object-fit: cover;
  border-radius: 5%;
}

.store-category p {
  position: absolute;
  bottom: 10%;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
