.home-popular-product {
  position: relative;
  width: 48%;
}

.home-popular-product img {
  width: 100%;
  object-fit: cover;
}

.home-popular-product button {
  color: white;
  font-size: 3.5vw;
  background-color: #133a1b;
  border: none;
  border-radius: 12px;
  width: 80%;
  height: 18%;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .home-popular-product {
    width: 32%;
  }

  .home-popular-product button {
    font-size: 2.5vw;
  }
}

@media (min-width: 1024px) {
  .home-popular-product {
    width: 24%;
  }

  .home-popular-product button {
    font-size: 1.8vw;
  }
}
