.navbar {
  display: flex;
  background-color: #b7bf96;
  position: sticky;
  top: 0;
  z-index: 100;
  /* margin-bottom: 60px; */
}

.navbar-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0% 5%;
}

@media (max-width: 1024px) {
  .navbar {
    height: 70px;
  }

  .navbar-container img {
    width: 50px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    height: 100px;
  }

  .navbar-container img {
    width: 80px;
  }

  .navbar-headers {
    display: flex;
    align-items: center;
    padding-top: 50px;
    font-size: 24px;
    width: 560px;
    justify-content: space-between;
  }

  .navbar-links {
    text-decoration: none;
    color: white;
  }

  .navbar-links.active {
    color: #011b10;
    font-weight: bold;
  }

  .navbar-links:hover {
    text-decoration: underline;
  }

  .navbar-links.active:hover {
    text-decoration: none;
  }
}
