.background-with-description {
  display: flex;
  justify-content: center;
  position: relative;
}

.background-with-description img {
  width: 100vw;
  height: 50vw;
  object-fit: cover;
}

.background-with-description-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  width: 290px;
  padding: 5vw 5vw;
  position: absolute;
  top: 3vw;
  border-radius: 12px;
}

.background-with-description-text h1 {
  font-size: 14px;
  margin-bottom: 5%;
}

.background-with-description-text p {
  font-size: 12px;
}
