.footer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background-color: #b7bf96;
  color: #011b10;
  padding: 5% 5%;
}

.footer-logo {
  display: flex;
  justify-content: left;
  align-items: center;
}

.footer-logo img {
  width: 80px;
  margin-right: 10px;
}

.footer-logo p {
  font-size: 20px;
}

.footer-description {
  margin-top: 20px;
  width: 220px;
}

.footer h1 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.footer-links {
  text-decoration: none;
  color: #133a1b;
}

.footer-social {
  display: flex;
}

@media (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: center;
  }

  .footer-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-right: 1px solid #011b10;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-evenly;
  }

  .footer-logo {
    width: 300px;
  }

  .footer-description {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  .footer-inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    width: 140px;
  }

  .footer-logo img {
    width: 160px;
  }

  .footer-description {
    width: 220px;
  }
}
