.footer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background-color: #b7bf96;
  color: #011b10;
  padding: 5% 5%;
}

.footer-logo {
  display: flex;
  justify-content: left;
  align-items: center;
}

.footer-logo img {
  width: 100px;
  margin-right: 10px;
}

.footer-logo p {
  font-size: 20px;
}

.footer-description {
  margin-top: 20px;
  width: 220px;
}

.footer h1 {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 4px;
}

.footer-links {
  text-decoration: none;
  color: #133a1b;
}

.footer-social {
  display: flex;
}
