.home-treatment {
  /* width: 310px; */
  /* height: 150px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 70%;
}

.home-treatment-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  color: #011b10;
}

.home-treatment-container img {
  width: 30%;
  margin-right: 20px;
}

.home-treatment-container p {
  font-weight: bold;
  font-size: 20px;
}

.home-treatment-description {
  display: flex;
  text-align: center;
}

.home-treatment-description p {
  margin-top: 10px;
  font-size: 16px;
  color: #011b10;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
  .home-treatment {
    width: 40%;
  }

  .home-treatment-container {
    width: 100%;
  }

  .home-treatment-container img {
    width: 18%;
  }
}

@media (min-width: 1024px) {
  .home-treatment {
    width: 46%;
  }

  .home-treatment-container {
    justify-content: left;
  }

  .home-treatment-container img {
    width: 22%;
  }

  .home-treatment-description {
    text-align: left;
  }

  .home-treatment-description p {
    font-size: 20px;
  }
}
