.cart-product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 20px;
}

.cart-product:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.cart-product img {
  width: 100px;
  height: 120px;
  margin-right: 10px;
  object-fit: cover;
}

.cart-product-container {
  width: 53vw;
}

.cart-product-container h1 {
  font-size: 16px;
  margin: 3px 0px;
}

.cart-product-price {
  display: flex;
}

.cart-product-price p {
  font-size: 12px;
}

.cart-product-totalprice {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 12px;
}

.cart-product-buttons button {
  width: 30px;
  height: 30px;
  border-radius: none;
  border: 1px solid #133a1b;
  background-color: #133a1b;
  color: white;
  cursor: pointer;
}

@media (min-width: 556px) {
  .cart-product {
    width: 400px;
  }
}
