.home-background-links {
  display: flex;
}

@media (max-width: 767px) {
  .home-background-links {
    width: 100%;
    align-items: center;
  }

  .home-background-links button {
    margin-bottom: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home-background-links {
    justify-content: space-around;
  }
}

@media (max-width: 1023px) {
  .home-background-links {
    flex-direction: column;
  }
}
