.store-product-select {
  padding: 4px 80px;
  border: 1px solid #989898;
  border-radius: 4px;
}

.store-product-select:focus {
  border: 1px solid #989898;
}

.store-product-select:valid {
  border: 1px solid #989898;
}
