.treatments-about-owner {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 9vw;
}

.treatments-about-owner-container {
  position: relative;
}

.treatments-about-owner-container img {
  width: 54%;
  height: 60vw;
  object-fit: cover;
}

.treatments-about-owner-description {
  background-color: #011b10;
  position: absolute;
  top: 15%;
  right: 0%;
  width: 54%;
  height: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.treatments-about-owner-description p {
  width: 80%;
  color: white;
  font-style: italic;
  font-size: 2.5vw;
}
